configargparse
efficientnet_pytorch
matplotlib
opencv-python
pandas
plyfile
scikit-learn
tqdm
wandb
kornia
lpips
imageio[ffmpeg]
einops
huggingface_hub
safetensors
kapture
kapture_localization
roma
submodules/fused-ssim
submodules/gsplat
dust3r/croco/models/curope
